<main>
  <h1>Productos</h1>
  <div class="listaProductos">
    {{#each Productos}}
      <ul>
        <li><strong>Producto:</strong> {{title}}</li>
        <li><strong>Categoria:</strong> {{category}}</li>
        <li><strong>Descripción:</strong> {{description}}</li>
        <li><strong>Codigo:</strong> {{code}}</li>
        <li><strong>Precio:</strong> ${{price}}</li>
        <li><strong>Stock:</strong> {{stock}}</li>
      </ul>
    {{/each}}
  </div>
</main>

<script src="/assets/js/home.js"></script>