<div class="producto-detalle">
  <div class="producto-info-detalle">
    <div class="imagen-detalle">
      <img
        src="{{product.thumbnail}}"
        alt="{{product.title}}"
        class="thumbnail-detalle"
      />
    </div>
    <div class="texto-detalle">
      <h2 class="titulo-detalle">{{product.title}}</h2>
      <p class="descripcion-detalle"><strong>Descripción:</strong>
        {{product.description}}</p>
      <p class="precio-detalle">Precio: ${{product.price}}</p>
      <p class="stock-detalle">Stock: {{product.stock}}</p>
      <button id="add-to-cart-btn" class="btn btn-primary" data-product-id="{{product.id}}">Agregar al Carrito</button>
    </div>
  </div>
</div>

<script src="/botonAgCarrito.js"></script>



