<div class="producto">
  <div class="producto-info">
    <h2>{{title}}</h2>
    <p>Precio: ${{price}}</p>
    <img
      src="{{thumbnail}}"
      alt="{{title}}"
      class="thumbnail derecha-thumbnail"
    />
  </div>
  <div class="boton-container">
    <button onclick="location.href='/productos/{{id}}'">Ver características</button>
  </div>
</div>